body{
    margin: 0;
    height: 100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.dog img{
    width: 100px;
    animation-name: dog;
    animation-duration: 6s;
}
.dog{
    position: relative;
    top: 650px;
    overflow: hidden;
}
@keyframes dog {
    100%{
        transform: translate(1540px);
        animation-timing-function: linear;
    }
}
.boy img{
    width: 170px;
    animation-name: boy;
    animation-duration: 6s;
}
.boy{
    position: absolute;
    top: 550px;
    left: 140px;
}
@keyframes boy {
    100%{
        transform: translate(1450px);
        animation-timing-function: linear;
    }
}
.bird img{
    width: 100px;
    animation-name: bird;
    animation-duration: 10s;
}
.bird{
    position: absolute;
    top: 300px;
    left: 140px;
}
@keyframes bird {
    100%{
        transform: translate(800px,-250px);
        animation-timing-function: linear;
        scale: 0.1;
    }
}
